@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.ConatinerCollage {
    margin: 40px 0px 40px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImageCollage {
    height: 250px;
    width: 250px;
    margin: 0px 0px 0px 0px;
}

.columna {
    float: left;
    width: 33%;
    padding-right: 5px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

.Instagram {
    color: gray;
    margin: 70px 0px 0px 0px;
}

.ESPUFI {
    font-weight: 300;
    margin-bottom: 40%;
    font-family: 'Raleway', sans-serif;
}